/*Global*/
body {
  background: #151515;
  width: 300px;
  height: 400px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  padding: 0;
  user-select: none;
}

/*Views*/
.view {
  display: none;
}

.view.active {
  display: block;
}

/*Title*/
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 16px auto 16px;
}

.title-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.logo {
  width: 25px;
  height: 25px;
}

.title-divider {
  border: none;
  width: 80%; 
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto 2px;
}

/*Tracking Text*/
.tracking-text {
  display: flex;
  gap: 5px;
  font-size: 14px;
  color: #ffffff;
  padding: 0 15px;
}

/*Buttons*/
.menu-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-currency-btn, .price-alerts-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 35px;
  background-color: rgb(122, 166, 202);
  margin: 8px 4px 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  border-radius: 12px;
}

.add-currency-btn {
  background-color: rgb(122, 166, 202);
}

.price-alerts-btn {
  background-color: rgb(226, 185, 0);
}

/*Back Button*/
.back-arrow {
  position: absolute;
  text-align: center;
  top: 8px;
  left: 8px;
  height: 8%;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
}
